@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

html {
  box-sizing: border-box;
  background-color: rgb(157, 187, 155);
  /* background: white; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
nav {
  display: flex;
  position: fixed;
  padding: 5%;
  align-items: center;
  /* border: black solid 2px; */
}
.home {
  font-family: "Bree Serif", serif;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

form {
  position: absolute;
  top: 30vh;
  left: 58vw;
  font-size: 40px;
}
input {
  /* display: inline-block; */
  /* flex-direction: column; */
  width: 40px;
  height: 40px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

.title {
  text-align: center;
  font-size: 70px;
  /* padding: 3%; */
}

.score {
  font-size: 60px;
  color: rgb(119, 0, 255);
  font-weight: 900;
}
button {
  font-size: 30px;
  z-index: 10;
}

.game {
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /* border: black solid 2px; */
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url("diglett.png") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 20px;
}

@media (max-width: 600px) {
  form {
    position: absolute;
    top: 22vh;
    left: 25vw;
    font-size: 6vw;
  }
  input {
    /* flex-direction: column; */
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  .score {
    font-size: 50px;
  }
  button {
    font-size: 10vw;
    position: absolute;
    top: 30vh;
    left: 37vw;
  }
  .title {
    font-size: 50px;
    /* padding: 60px; */
  }
  .game {
    position: absolute;
    top: 66vw;
    left: 5vw;
    width: 90vw;
    height: 50vh;
    /* border: teal 2px solid; */
  }
  .hole:after {
    bottom: -20px;
    /* border: black solid 2px; */
    height: 40px;
  }
  .mole {
    background-size: 80%;
  }
  .hole.up .mole {
    top: 10px;
  }
}
