@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: "Bree Serif", serif;
  /* border: solid black 1px; */
}

body {
  background-color: rgb(157, 187, 155);
  /* border: solid green 1px; */
  padding: 1% 5%;
}

nav {
  display: flex;
  padding: 5px 0px;
  align-items: center;
}
.home {
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
}
.title {
  flex: 6;
  padding: 0 32%;
  font-size: 40px;
}
.fetch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}
.fetch:hover {
  background-color: rgb(198, 241, 195);
}
.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  font-size: 20px;
  padding: 2% 15%;
}

table {
  border: black solid 2px;
  width: 15vw;
}
tr {
  border: black solid 1px;
}
td {
  border: white solid 1px;
  width: 50%;
}
th {
  border: rgba(0, 128, 0, 0.603) solid 3px;
  /* width: 50%; */
}

@media (max-width: 1000px) {
  .title {
    padding: 0 5%;
  }
  body {
    padding: 0 3%;
  }
  .text {
    padding: 1% 0.5%;
    /* border: solid green 1px; */
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .text {
    font-size: 15px;
  }
}
