@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: "Bree Serif", serif;
  /* border: solid black 1px; */
  margin: 0;
}

body {
  background-color: rgb(157, 187, 155);
  /* border: solid green 1px; */
  padding: 1% 5%;
}

nav {
  display: flex;
  padding: 5px 0px;
  align-items: center;
}
.home {
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  /* flex: 1; */
  padding: 10px;
  border-radius: 5px;
}
.title {
  /* flex: 6; */
  text-align: center;
  margin-right: 40px;
  flex-grow: 1;
  font-size: 3vw;
}

.fetch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}
.fetch:hover {
  background-color: rgb(198, 241, 195);
}
.data {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.text {
  font-size: 20px;
  padding: 2% 15%;
}

.tb {
  border: black solid 2px;
  width: 16vw;
}
tr {
  border: black solid 1px;
}
td {
  border: grey solid 1px;
  width: 50%;
}
.tablehead {
  text-align: center;
  font-weight: 900;
}
.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
}
.doublecell {
  display: flex;
  flex-direction: column;
}
.cell {
  border: white solid 1px;
  width: 80px;
}

@media (max-width: 1000px) {
  .title {
    padding: 0 20%;
    font-size: 30px;
  }
  .data {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .canvas {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .title {
    padding: 0 4%;
    font-size: 30px;
    margin-right: 0px;
  }
  body {
    padding: 1%;
  }
}
