@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: "Bree Serif", serif;
}

body {
  background-color: rgb(157, 187, 155);
  /* border: solid green 1px; */
  padding: 1% 5%;
}
nav {
  display: flex;
  padding: 5px 0px;
  align-items: center;
}
.home {
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
}
.title {
  flex: 6;
  padding: 0 22%;
  font-size: 40px;
}

.text {
  font-size: 20px;
  padding: 2% 15%;
}
.frames {
  position: relative;
  object-fit: contain;
}
.full {
  width: 100%;
  border: black 2px solid;
}
.graph {
  width: 85%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mySlides {
  border: black 2px solid;
  /* width: 100%; */
  min-height: 100%;
}

.mySlides2 {
  width: 100%;
  min-height: 100%;
  border: black 2px solid;
}
.w3-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 50px;
  top: 45%;
}
.left {
  left: -28px;
}
.right {
  right: -32px;
}
.equation {
  width: 13%;
  border: black solid 2px;
  display: none;
  position: absolute;
  top: 40%;
  left: 40%;
}

@media (max-width: 1000px) {
  .title {
    padding: 0 5%;
  }
  body {
    padding: 0 3%;
  }
  .text {
    padding: 1% 0.5%;
    font-size: 18px;
  }
  .w3-btn {
    width: 25px;
    height: 40px;
    top: 40%;
  }
  .left {
    left: -20px;
  }
  .right {
    right: -20px;
  }
}
