@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

*{
    font-family: 'Bree Serif', serif;
    padding: 0.2%;
}

body{
     background-color: rgb(157, 187, 155)   
}

#nav{
    display: flex;
    padding: 5px 0px;
    align-items: flex-start;
}
    .navItem{
        background-color: rgb(198, 241, 195);
        border: black 2px solid;
        font-size: 20px;
        text-align: center;
        flex:1;
        padding: 10px;
        border-radius: 20px ;
    }
    .navItemLinkedin{
        font-size: 20px;
        text-align: center;
        flex:1;
    }
        #linkedin{
                width:50%;
                background-color: none;
                border: none;
                flex:1;
            }

    .title{
        flex:5;
        text-align: center;
        font-size: 40px;
    }

.container1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:flex-start;
    /* border: solid green 1px; */
}
.container2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:flex-start;
    /* border: solid green 1px; */
}
.container3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:flex-start;
    /* border: solid green 1px; */
}

.text{font-size: 20px;}

    .text1{
        padding: 0% 2%;  
        font-size: 20px;  
        /* border: solid yellow 1px; */
        flex:1;
    }

    .femm{  
        flex:1;
        /* border: solid yellow 1px; */
    }
    

