@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
*{
    font-family: 'Bree Serif', serif;
    padding: 0.2%;
}

body{
     background-color: rgb(157, 187, 155)
    
}

#nav{
    display: flex;
    padding: 5px 0px;
    align-items: flex-start;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
}
    .navItem{
        background-color: rgb(198, 241, 195);
        border: black 2px solid;
        font-size: 20px;
        text-align: center;
        flex:1;
        padding: 10px;
        border-radius: 20px ;
    }
    .navItemLinkedin{
        font-size: 20px;
        text-align: center;
        flex:1;
    }
        #linkedin{
                width:80%;
                background-color: none;
                border: none;
                flex:1;
            }

    .title{
        flex:5;
        /* font-family: 'Fredoka One', cursive; */
        text-align: center;
        font-size: 40px;
    }

    
#para1{
    /* font-family: 'Fredoka One', cursive; */
    padding: 0% 2%;  
    font-size: 22px; 
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    /* doesn't have any effect */   
}
.box{
    border: solid black 1px;
    text-align: center;
    width:31vw; 
    font-size: 22px;
    background-color: white;
    transition-duration: 0.4s;
}
    .box:hover{
        background-color:rgb(198, 241, 195);
    }


    .glider{width:75%;}
    .obstacles{width:95%;}
    .magnets{width:95%;}
    .python{width:75%;}
    .tableau{width:95%;}
    .matlab{width:70%;}