@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: "Bree Serif", serif;
  /* border: red solid 2px; */
}
body {
  background-color: rgb(157, 187, 155);
  /* padding: 1% 5%; */
}

body::-webkit-scrollbar {
  display: none;
}

#viz1613129136367 {
  position: relative;
}


.top {
  /* border: black 4px solid; */
  display: flex;
  padding: 20px 50px;
}

.home {
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
}

.title {
  padding: 0 15%;
  font-size: 40px;
}

/* MORE */
.cool > a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  display: flex;
  border-radius: 5px;
}
.cool {
  position: relative;
  padding: 0 20px;
  transition-duration: 0.4s;
}
.cool > a:hover {
  background-color: rgb(198, 241, 195);
}

.dropdown {
  opacity: 0;
  position: absolute;
  padding: 10px 30px;
  top: -40px;
  transform: translateY(100px);
  display: none;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  position: absolute;
  background: rgb(198, 241, 195);
  border-radius: 4px;
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  left: 20px;
  width: 16px;
  height: 16px;
  display: block;
  background: rgb(198, 241, 195);
  transform: translateY(-50%) rotate(45deg);
}

.bio {
  min-width: 300px;
  line-height: 1.7;
}


@media (max-width: 1100px) {
  
  .title {
    padding: 1% 5%;
  font-size:30px;
  }
   .top{
     padding: 20px 0px;
   }
}

@media (max-width: 500px) {
   .title {
    padding: 10px;
  font-size:28px;
  text-align:center;
  }
  .top{
     padding: 0px 0px;
     flex-direction:column;
   }
  #viz1613129136367 {
  width:100%
}
.cool {
  padding:10px;
}
.home {
  margin:10px;
}
.cool > a {
  padding: 15px 35%;
}
.dropdown {
padding:0px;
border:green 2px solid;
  transform: translateY(200px);

}
.dropdownBackground {
padding:0px;
}
.arrow{
  left: 50%;
}

}